* {
  box-sizing: border-box;
}

h3 {
  text-align: center;
  color: red;
  font-size: 50px;
}
.Photo {
  align-items: center;
}
button {
  width: 100px;
  color: blue;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(165, 136, 117);
}

.Gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  background-color: rgb(56, 51, 44);
}

.Gallery img {
  margin: 10px;
  max-width: 100vw;
  border-radius: 5px;
}

.Photo {
  height: 830px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  max-width: 830px;
}

.Photo img {
  max-width: 100%;
  border-radius: 10px;
}

.photoControls {
  padding: 15px;
}

.photoControls strong {
  padding: 15px;
}
